{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"semi": false,
	"trailingComma": "none",
	"singleQuote": true,
	"proseWrap": "preserve",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"requireConfig": false,
	"files.associations": {
		"*.vue": "vue"
	}
}