html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	-moz-osx-font-smotthing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, Helvetica, sans-serif;
}

#app {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus{
    outline: none;
}

.clearfix{
    &:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: '';
        clear: both;
        height: 0;
    }
}